@charset "UTF-8";
.nav-scrolled {
  transition: 1s;
  background-color: rgba(58, 62, 133, 0.95);
}

nav {
  transition: 1s;
  position: fixed;
  z-index: 3;
  width: 94%;
  height: 10vh;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  flex-direction: row;
  column-gap: 0vh;
  justify-content: space-between;
}
nav .nav-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
nav .nav-name .title-name {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
nav .nav-name span {
  font-family: "Times New Roman", Times, serif;
  color: lightpink;
}
nav .nav-name-scrolled {
  animation: rotateY 5s linear infinite;
}
@keyframes rotateY {
  100% {
    transform: rotateY(360deg);
  }
}
nav ul {
  display: flex;
  flex-direction: row;
  column-gap: 0vh;
  width: 40%;
  height: 100%;
}
nav li {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
nav li a:hover {
  scale: 1.2;
  color: lightpink;
}
nav .nav-links {
  display: flex;
  flex-direction: row;
  column-gap: 2vw;
  align-items: center;
}
nav .nav-links a {
  color: lightpink;
  text-decoration: none;
  font-size: 4vh;
}

.non-animate {
  display: none;
}

.animate {
  color: rgba(255, 182, 193, 0.3);
  font-size: 5vh;
  position: absolute;
  animation: ugoki1 20s linear infinite, ugoki2 0.5s ease-in-out infinite alternate-reverse;
}
@keyframes ugoki1 {
  0% {
    left: -10%;
  }
  100% {
    left: 100%;
  }
}
@keyframes ugoki2 {
  0% {
    top: 10%;
  }
  100% {
    top: 30%;
  }
}

.smaller-menu {
  display: none;
}

@media (max-width: 1000px) {
  .bigger-menu {
    display: none;
  }
  .smaller-menu {
    display: flex;
    font-size: 2.5vh;
    background-color: #000055;
    padding-top: 10vh;
    text-align: center;
  }
  .smaller-menu summary {
    height: 4vh;
    color: white;
  }
  .smaller-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
  }
}
#about {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  color: white;
}
#about .my-name-bg {
  background-image: url("/src/assets/Logo.png");
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}
#about .my-name-bg .my-name {
  display: flex;
  flex-direction: column;
  row-gap: 0vh;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  /* 以下任意のスタイル */
}
#about .my-name-bg .my-name #txt-rotate > .wrap {
  font-weight: 600;
  color: lightpink;
  border-right: 0.08em solid #666;
}
#about figure {
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  font-size: 20px;
  font-weight: 600;
}
#about img {
  width: 15vw;
  border-radius: 50%;
  transition: 0.5s ease-out;
  border: 4px solid white;
}
#about img:hover {
  scale: 1.1;
}
#about figcaption {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}

@media (max-width: 600px) {
  #about {
    text-align: center;
  }
  #about figure {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  #about figure img {
    width: 50vw;
  }
}
#projects {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  width: 100%;
}
#projects h1 {
  color: white;
  text-align: center;
}
#projects .gallery {
  display: flex;
  flex-direction: row;
  column-gap: 0vh;
  gap: 6vh;
  justify-content: center;
  flex-wrap: wrap;
}
#projects figure {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 35vw;
  position: relative;
  overflow-y: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  border-radius: 10px;
  transition: 0.6s;
}
#projects figure:hover {
  scale: 1.1;
}
#projects figure figcaption {
  color: white;
  overflow-y: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 85, 0.7);
  z-index: 1;
  transition: 0.6s;
}
#projects figure:hover figcaption {
  height: 100%;
}
#projects figure h3 {
  width: 100%;
  text-align: center;
}
#projects figure ul {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
#projects figure ul li {
  list-style: square inside;
  text-align: left;
}
#projects img {
  height: 90%;
  width: 90%;
  object-fit: contain;
  position: absolute;
}

@media (max-width: 1000px) {
  #projects figure {
    height: 50vh;
    width: 90vw;
  }
  #projects figure figcaption {
    height: 100%;
  }
}
#skills {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  align-items: center;
  color: white;
}
#skills > section {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 3vw;
}
#skills .skill-category {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}
#skills .skill-category .skill-border {
  display: flex;
  flex-direction: row;
  column-gap: 2vw;
  align-items: center;
}
#skills .skill-category .skill-border div {
  width: 80vw;
  height: 50%;
  border-bottom: 1px solid grey;
}
#skills .skill-category .skill-elements {
  display: flex;
  flex-direction: row;
  column-gap: 0vh;
  gap: 2vw;
  justify-content: center;
  flex-wrap: wrap;
}
#skills aside {
  width: 11vh;
  display: flex;
  flex-direction: column;
  row-gap: 0vh;
  align-items: center;
  text-align: center;
}
#skills i {
  font-size: 9vh;
  color: white;
}

#contact {
  display: flex;
  flex-direction: column;
  row-gap: 8vh;
  align-items: center;
  color: white;
}
#contact .send-mail {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  align-items: center;
  width: 80%;
}
#contact .send-mail p {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
#contact .send-mail a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  row-gap: 0vh;
  align-items: center;
  text-align: center;
  color: lightpink;
}
#contact .send-mail a .mail-icon {
  font-size: 100px;
}
#contact .send-mail a:active {
  box-shadow: none;
  transform: translateY(5px);
}
#contact span {
  width: 40%;
  border: 1px solid grey;
}
#contact .links {
  display: flex;
  flex-direction: row;
  column-gap: 5vw;
}
#contact .links a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  row-gap: 0vh;
  align-items: center;
  text-align: center;
  color: lightpink;
}
#contact .links a:hover {
  scale: 1.1;
}
#contact .links .contact-icon {
  font-size: 50px;
}

@media (max-width: 1000px) {
  #contact {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
  }
  #contact .send-mail {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  #contact .send-mail p {
    font-size: 16px;
  }
  #contact .send-mail a {
    font-size: 4vw;
    box-shadow: 3px 3px grey;
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), white calc(100% - 1px)), linear-gradient(90deg, transparent calc(100% - 1px), white calc(100% - 1px));
  background-size: 40px 40px;
  background-repeat: repeat;
  background-position: center center;
  background-color: black;
  background-attachment: fixed;
}

h1 {
  font-size: 50px;
}

.main-contents {
  display: flex;
  flex-direction: column;
  row-gap: 0vh;
  background-color: rgba(0, 0, 85, 0.9);
}

.content-space {
  height: 10vh;
  width: 0;
  margin: 3vh;
}

footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}