// About
#about {
    // height: 50vh;
    // padding-top: 30vh;
    @include MakeColumn(5vh);
    color: $fontColor;

    .my-name-bg {
        background-image: url('/src/assets/Logo.png');
        // background-size: contain;
        background-position: center;
        background-repeat: repeat;
        background-attachment: fixed;

        .my-name {
            @include MakeColumn();
            justify-content: center;
            align-items: center;
            font-size: 50px;
            height: 60vh;
            background-color: rgba($color: black, $alpha: .9);
            border-top: 1px solid darkgray;
            border-bottom: 1px solid darkgray;

            #txt-rotate>.wrap {
                font-weight: 600;
                color: $fontColorSecond;
                border-right: 0.08em solid #666
            }

            // /* 方眼紙模様に必須のスタイル */
            // background-image: linear-gradient(0deg, transparent calc(100% - 1px), grey calc(100% - 1px)),
            //     linear-gradient(90deg, transparent calc(100% - 1px), grey calc(100% - 1px));
            // background-size: 20px 20px;
            // background-repeat: repeat;
            // background-position: center center;

            /* 以下任意のスタイル */
            // padding: 20px;
        }
    }


    figure {
        padding-left: 10vw;
        padding-right: 10vw;
        @include MakeCenter;
        gap: 5vh;
        font-size: 20px;
        font-weight: 600;
    }

    img {
        width: 15vw;
        border-radius: 50%;
        transition: .5s ease-out;
        border: 4px solid white;
    }

    img:hover {
        scale: 1.1;
    }

    figcaption {
        @include MakeColumn(5vh);

        // h1 {
        //     font-size: 50px;
        // }
    }
}

@media (max-width: $mobileScreen) {
    #about {
        text-align: center;

        figure {
            @include MakeColumn(3vh);

            img {
                width: 50vw;
            }
        }
    }
}