// Contact
#contact {
    @include MakeColumn(8vh);
    align-items: center;
    color: $fontColor;

    h1 {
        width: 100%;
        text-align: center;
        background: linear-gradient(to right, $fontColorSecond, transparent 80%);
    }

    .send-mail {
        @include MakeColumn(5vh);
        align-items: center;
        width: 80%;

        p {
            text-align: center;
            font-weight: 600;
            font-size: 20px;
        }

        a {
            text-decoration: none;
            @include MakeColumn;
            align-items: center;
            text-align: center;
            color: $fontColorSecond;

            .mail-icon {
                font-size: 100px;
            }
        }

        a:active {
            box-shadow: none;
            transform: translateY(5px);
        }
    }

    span {
        width: 40%;
        border: 1px solid grey;
    }

    .links {
        @include MakeRow(5vw);

        a {
            text-decoration: none;
            @include MakeColumn;
            align-items: center;
            text-align: center;
            color: $fontColorSecond;

            &:hover {
                scale: 1.1;
            }
        }

        .contact-icon {
            font-size: 50px;
        }
    }
}

@media (max-width: $tabletScreen) {
    #contact {
        @include MakeColumn(4vh);

        .send-mail {
            @include MakeColumn(3vh);

            p {
                font-size: 16px;
            }

            a {
                font-size: 4vw;
                box-shadow: 3px 3px grey;
            }
        }
    }
}