    .popup-menu-container {
        @include MakeCenter();
        color: $fontColor;
        font-size: 5vh;

        position: relative;

        .popup-menu {
            @include MakeColumn(5vh);
            align-items: center;
            // background-color: rgba($color: $backgroundColor, $alpha: .9);
            background-color: rgba($color: $backgroundColor, $alpha: .8);
            position: absolute;
            z-index: 2;
            width: 30vw;
            height: 100vh;

            top: 0vh;
            right: -50vw;
            transition: 1s;

            &.shown {
                right: -3vw;
            }

            ul {
                @include MakeColumn(5vh);
                align-items: start;
            }
        }
    }

    @media (min-width: $tabletScreen) {
        .popup-menu-container {
            display: none;
        }
    }