// projects
#projects {
    @include MakeColumn(5vh);
    width: 100%;

    h1 {
        color: $fontColor;
        text-align: center;
        background: linear-gradient(to right, $fontColorSecond, transparent 80%);
    }

    .gallery {
        @include MakeRow;
        gap: 6vh;
        justify-content: center;
        flex-wrap: wrap;
    }

    .pc-button {
        height: 26px;
        background-color: $fontColor;
        background-image: url(../assets/browser_pc_button.svg);
        background-position: center left 12px;
        background-repeat: no-repeat;
        border-radius: 9px 9px 0px 0px;
    }

    .figure-wrap {
        border: 1px solid $fontColor;
        border-radius: 10px;
        transition: .6s;

        &:hover {
            scale: 1.1;
        }
    }

    figure {
        @include MakeColumn(5vh);
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 35vw;
        position: relative;
        overflow-y: hidden;
        background-color: rgba($color: $fontColor, $alpha: .3);

        figcaption {
            color: $fontColor;
            overflow-y: hidden;
            position: absolute;
            @include MakeColumn(1vh);
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 0%;
            background-color: rgba($color: $backgroundColor, $alpha: 0.7);
            z-index: 1;
            transition: .6s;
            border-radius: 0px 0px 10px 10px;
        }

        &:hover figcaption {
            height: 100%;
        }

        h3 {
            width: 100%;
            text-align: center;
        }

        ul {
            width: 90%;
            @include MakeColumn(5px);

            li {
                list-style: square inside;
                text-align: left;
            }
        }
    }

    img {
        height: 90%;
        width: 90%;
        object-fit: contain;
        position: absolute;
    }
}

@media (max-width: $tabletScreen) {
    #projects {
        figure {
            height: 75vh;
            width: 78vw;

            figcaption {
                height: 100%;
            }
        }

        .project-small {
            height: 50vh;
        }
    }
}