// Skills
#skills {
    @include MakeColumn(5vh);
    align-items: center;
    color: $fontColor;

    H1 {
        width: 100%;
        text-align: center;
        background: linear-gradient(to left, $fontColorSecond, transparent 80%);
    }

    >section {
        width: 70%;
    }

    h3 {
        background: linear-gradient(transparent 70%, $fontColorSecond 70%);
        // background: linear-gradient(to right, transparent , $fontColorSecond );
    }

    .skill-category {
        @include MakeColumn(3vh);
        align-items: center;
        padding: 10px;

        border: 3px $fontColor;
        border-style: solid solid none;

        .skill-elements {
            @include MakeRow();
            gap: 1vw;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    .skill-category:last-child {
        border-style: solid;
    }

    aside {
        width: 11vh;
        @include MakeColumn;
        align-items: center;
        text-align: center;
    }

    i {
        font-size: 5vh;
        color: $fontColor;
    }
}

@media (max-width: $tabletScreen) {
    #skills {
        i {
            font-size: 5vh;
        }
    }
}