@import './mixins';
@import './variable';
@import './navigation';
@import './about';
@import './projects';
@import './skills';
@import './contact';
@import './popup';

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    // filter: invert(100%);

    background-image: linear-gradient(0deg, transparent calc(100% - 1px), white calc(100% - 1px)),
        linear-gradient(90deg, transparent calc(100% - 1px), white calc(100% - 1px));
    background-size: 40px 40px;
    background-repeat: repeat;
    background-position: center center;
    background-color: black;
    background-attachment: fixed;
}

h1 {
    font-size: 50px
}

.main-contents {
    @include MakeColumn();
    // align-items: center;
    background-color: rgba($color: $backgroundColor, $alpha: .9);
}

.content-space {
    height: 10vh;
    width: 0;
    margin: 3vh;
    // border: 1px solid $fontColor;
}

footer {
    color: $fontColor;
    @include MakeCenter;
    padding: 1%;
    // background-color: rgba($color: $fontColor, $alpha: .7);
}